<div class="regionInfo" , id="regionInfo">
	<table>
		<tr>
			<th>Name</th>
			<th>Coordinates</th>
			<th>TechLevel</th>
		</tr>
		<tr>
			<td id="infoName"></td>
			<td id="infoCords"></td>
			<td id="infoTechLevel"></td>
		</tr>
		<tr>
			<td colspan="2">Distance</td>
			<td id="distanceTravel"></td>
		</tr>

		<tr>
			<td colspan="2">Fuel Cost</td>
			<td id="fuelCost"></td>
		</tr>
	</table>

<!--
	<h1 id="infoNameAndCords"></h1>
	<h2 id="infoTechLevel"></h2>
	<h2 id="fuelCost"></h2> -->
	<h2>{{ error_message }}</h2>
	<input type="hidden" id="fuel_cost_input" name="fuel_cost" value="0">
	<input type="submit" name="" value="Travel">
</div>