<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<h1 align="center">Name: {{ user.name }}</h1>
<h1 align="center">Pilot Skill: {{ user.pilot_skill }}</h1>
<h1 align="center">Fighter Skill: {{ user.fighter_skill }}</h1>
<h1 align="center">Merchant Skill: {{ user.merchant_skill }}</h1>
<h1 align="center">Engineer Skill: {{ user.engineer_skill }}</h1>
<h1 align="center">Credits: {{ user.credits }}</h1>
</body>
</html>
